button{
    height: 50px;
    border: solid black;
    width: 350px;
    background: black;
    color: white;
    cursor: pointer;
    &:hover{
       background-color: white;
       color:black;
    }

}